{% extends 'base_login.html' %}
{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 15px;">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav custom-nav-link">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'lista_empresas' %}" style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{% static 'img/voltar.png' %}" alt="voltar" style="width: 30px; height: 30px; margin-left: 100px; filter: invert(1);">
                        <span style="margin-top: 5px; margin-left: 100px;">Retornar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="icon-container" style="display: flex; align-items: center; justify-content: center; margin-bottom: -40px;"></div>
<br>
<br>
<br>
{% endblock %}

{% block content %}
    <br>
    <h2 style="text-align: center;">Adicionar Empresa</h2><br>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <!-- Primeira coluna -->
                <div class="col-md-6">
                    <label><strong>Razão Social:</strong></label>
                    <input type="text" name="razao_social" class="form-control">

                    <label><strong>Nome Fantasia:</strong></label>
                    <input type="text" name="nome_fantasia" class="form-control" required>

                    <label><strong>CNPJ:</strong></label>
                    <input type="text" name="cnpj" id="cnpj" class="form-control">

                    <label><strong>Telefone:</strong></label>
                    <input type="text" name="telefone" id="telefone" class="form-control">

                    <label><strong>Celular:</strong></label>
                    <input type="text" name="celular" id="celular" class="form-control">

                    <label><strong>Email:</strong></label>
                    <input type="email" name="email" class="form-control">
                </div>

                <!-- Segunda coluna -->
                <div class="col-md-6">
                    <label><strong>Cep:</strong></label>
                    <input type="text" name="cep" id="cep" class="form-control">

                    <label><strong>Logradouro:</strong></label>
                    <input type="text" name="logradouro" id="logradouro" class="form-control">

                    <label><strong>Número:</strong></label>
                    <input type="text" name="numero" class="form-control">

                    <label><strong>Complemento:</strong></label>
                    <input type="text" name="complemento" class="form-control">

                    <label><strong>Bairro:</strong></label>
                    <input type="text" name="bairro" id="bairro" class="form-control">

                    <label><strong>Cidade:</strong></label>
                    <input type="text" name="cidade" id="cidade" class="form-control">

                    <label><strong>Estado (UF):</strong></label>
                    <input type="text" name="uf" id="uf" class="form-control">
                </div>
            </div>
			<div class="form-group">
				<br>
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</div>
        </form>
    </div>

    <!-- Inclua jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Inclua o jQuery Mask Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $(document).ready(function() {
            // Aplica a máscara para CNPJ e telefones
            $('#cnpj').mask('00.000.000/0000-00', {reverse: true});
            $('#cep').mask('00000-000');
            $('#telefone').mask('(00) 0000-0000');
            $('#celular').mask('(00) 0 0000-0000');

            // Busca o endereço via API ViaCEP
            $('#cep').on('blur', function() {
                var cep = $(this).val().replace(/\D/g, '');
                if (cep.length === 8) {
                    $.getJSON(`https://viacep.com.br/ws/${cep}/json/`, function(data) {
                        if (!('erro' in data)) {
                            $('#logradouro').val(data.logradouro);
                            $('#bairro').val(data.bairro);
                            $('#cidade').val(data.localidade);
                            $('#uf').val(data.uf);
                        } else {
                            alert('CEP não encontrado!');
                        }
                    }).fail(function() {
                        alert('Erro ao buscar o CEP!');
                    });
                } else {
                    alert('CEP inválido!');
                }
            });
        });
    </script>
{% endblock %}
