{% extends 'base_login.html' %}

{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'lista_funcionarios' %}">Lista de Funcionários</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <h2 class="text-center">Lista de Funcionários</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ramal</th>
                <th>Condomínio</th>
                <th>Tipo</th>
                <th>Nome do Funcionário</th>
                <th>Telefone 1</th>
                <th>Telefone 2</th>
                <th>E-mail</th>
                <th>Seg a Sex</th>
                <th>Sab</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>  <!-- Ramal -->
                <td>{{ funcionario.condominio.nome_condominio }}</td>  <!-- Condomínio -->
				<td>{{ funcionario.tipos_condominios_funcionario.nome_tipo_funcionario }}</td>  <!-- Tipo -->
                <td>{{ funcionario.nome_condominios_funcionario }}</td>  <!-- Nome do Funcionário -->
                <td>{{ funcionario.telefone1 }}</td>  <!-- Telefone 1 -->
                <td>{{ funcionario.telefone2 }}</td>  <!-- Telefone 2 -->
                <td>{{ funcionario.email }}</td>  <!-- E-mail -->
                <td>{{ funcionario.hora_inicio }}</td>  <!-- Seg a Sex -->
                <td>{{ funcionario.hora_inicio_sab }}</td>  <!-- Sab -->
                <td>
                    <a href="{% url 'editar_funcionario' funcionario.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'deletar_funcionario' funcionario.id %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
