{% extends 'base_login.html' %}
{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Ícone desabilitado -->
        <a class="navbar-brand" style="margin-right: 120px; pointer-events: none; opacity: 0.5;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="javascript:history.back()">
                        <img src="{% static 'img/voltar.png' %}" alt="Retornar" style="width: 30px; height: 30px; margin-bottom: 5px; filter: invert(1);"><br>
                        <span>Retornar</span>
                    </a>
                </li>
            </ul>
        </div>

            <!-- Botão de logout desabilitado -->
            <ul class="navbar-nav ms-auto"> <!-- Isso vai empurrar o conteúdo para a direita -->
                <li class="nav-item">
                    <a class="nav-link custom-nav-link-menu logout-link" style="margin-right: 40px; pointer-events: none; opacity: 0.5;">
                        <img src="{% static 'img/sair.png' %}" alt="sair" style="width: 30px; height: 30px; margin-right: 5px;"><br>
                        𝐒𝐚𝐢𝐫
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<!-- Conteúdo centralizado verticalmente e horizontalmente -->
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                <h2 class="text-center">Deletar Apartamento: {{ apartamento.nome_apartamento }}</h2>
            </div>
            <div class="card-body">
                <p class="text-center">Você tem certeza que deseja deletar este apartamento?</p>
                <div class="d-flex justify-content-center mt-4">
                    <form method="post" class="mr-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirmar Deleção</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
