{% extends 'base_login.html' %}
{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'criar_apartamentos' %}" style="margin-right: 120px;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav d-flex ">
                <li class="nav-item ">
                    <a class="nav-link custom-nav-link" href="{% url 'criar_apartamentos' %}">
                        <img src="{% static 'img/voltar.png' %}" alt="pessoa" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        <span>Retornar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Editar Apartamento: {{ apartamento.nome_apartamento }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Exibe o formulário automaticamente -->
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>
{% endblock %}
