{% extends 'base_login.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Editar Apartamento</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome_apartamento">Nome do Apartamento:</label>
            <input type="text" name="nome_apartamento" class="form-control" value="{{ apartamento.nome_apartamento }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
