/* Remove os marcadores da lista */
            .navbar-nav {
                list-style-type: none; /* Remove os marcadores */
            }

            /* Alinha a imagem e o texto no centro */
            .custom-nav-link {
                color: black; /* Cor do texto dos links */
                font-size: 14px; /* Aumenta o tamanho da fonte dos links */
                font-family: 'Tahoma', 'Segoe UI', Geneva, Verdana, sans-serif; /* Estilo da fonte */
                font-weight: bold; /* Adiciona negrito ao texto */
                display: flex; /* Alinha ícone e texto em linha */
                align-items: flex-start; /* Alinha à esquerda */
                margin-left: 120px; /* Adiciona margem à esquerda */
                flex-direction: column; /* Coloca a imagem acima do texto */

            }

            /* Ajusta o espaço entre a imagem e o texto */
            .custom-nav-link img {
                margin-right: 5px; /* Espaço entre a imagem e o texto */
            }

            /* Ajusta o espaçamento do texto para iniciar na linha 2 */
            .nav-item {
                margin-top: -50px; /* Adiciona espaço acima do item */
            }

            footer {
                position: fixed; /* Fixa o rodapé na parte inferior */
                bottom: 0; /* Alinha o rodapé na parte inferior */
                left: 0; /* Alinha o rodapé à esquerda */
                right: 0; /* Alinha o rodapé à direita */
                background-color: #778898; /* Cor do rodapé igual à da navbar */
                text-align: center; /* Centraliza o texto no footer */
                padding: 10px 0; /* Espaçamento no footer */
                color: black; /* Cor do texto no footer */
                display: flex; /* Usar flexbox para alinhar os itens */
                justify-content: center; /* Centraliza os itens horizontalmente */
                align-items: center; /* Centraliza os itens verticalmente */
            }

            footer h2 {
                margin: 0; /* Remove a margem do h2 */
                display: inline; /* Mantém o h2 em linha com outros elementos */
            }

            footer strong {
                display: inline; /* Mantém o texto em linha */
            }