body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o rodapé fique na parte inferior */
    background-color: #fff;

}

.content {
    flex: 1; /* Permite que o conteúdo expanda para preencher o espaço */
    margin-top: 56px; /* Espaçamento para compensar a altura da navbar fixa */
}

.navbar {
    position: fixed; /* Fixa a navbar no topo */
    top: 0; /* Alinha a navbar no topo */
    left: 0; /* Alinha a navbar à esquerda */
    right: 0; /* Alinha a navbar à direita */
    background-color: #6c757d; /* Cor da navbar */
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
}

footer {
     position: fixed; /* Fixa o rodapé na parte inferior */
     bottom: 0; /* Alinha o rodapé na parte inferior */
     left: 0; /* Alinha o rodapé à esquerda */
     right: 0; /* Alinha o rodapé à direita */
     background-color: #6c757d; /* Cor do rodapé igual à da navbar */
     text-align: center; /* Centraliza o texto no footer */
     padding: 10px 0; /* Espaçamento no footer */
     color: white; /* Cor do texto no footer */
}

.form-group{
    font-size: 22px; /* Aumenta o tamanho da fonte dos links */
}

.custom-bg {
    background-color: #fff;
}

.custom-navbar-brand:hover {
    color: #ddd; /* Muda a cor ao passar o mouse */
}

.custom-nav-link {
    color: white; /* Cor do texto dos links */
    font-size: 22px; /* Aumenta o tamanho da fonte dos links */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo da fonte */
}

.custom-nav-link:hover {
     color: #ddd; /* Cor ao passar o mouse */
}

.navbar-brand {
     font-size: 40px; /* Aumenta o tamanho da fonte do Severus */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo da fonte */
     margin-left: 20px; /* Margem esquerda no Severus */

}

.navbar img {
     filter: brightness(0) invert(1); /* Torna os ícones brancos */

}

.spacer {
    margin-right: 40px; /* Ajuste o valor para o espaçamento desejado */
}

.logout-link {
    color: #800000; /* Cor do link Sair */
    margin-right: 20px; /* Margem direita no Sair */

}

.logout-link:hover {
    color: darkred; /* Cor ao passar o mouse */
}

