{% extends "base_login.html" %}
{% load static %}
{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 15px;">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav custom-nav-link">
                <li class="nav-item">
                    <a class="nav-link text-center" href="javascript:history.back()" style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{% static 'img/voltar.png' %}" alt="voltar" style="width: 30px; height: 30px; margin-left: 100px; filter: invert(1);">
                        <span style="margin-top: 5px; margin-left: 100px;">Retornar</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="icon-container" style="display: flex; align-items: center; justify-content: center; margin-bottom: -40px;">
</div>
<br>
<br>
<br>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Adicionar Área Paralela</h2> <!-- Título centralizado -->

    <form method="post" id="area-paralela-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="condominio">Condomínio:</label>
            <select name="condominio" id="condominio" class="form-control">
                <option value="">Selecione um condomínio</option>
                {% for condominio in condominios %}
                    {% if condominio.status == 1 %}  <!-- Apenas condomínios com status 1 -->
                        <option value="{{ condominio.id }}" {% if condominio.id|stringformat:"d" == selected_condominio|stringformat:"d" %}selected{% endif %}>
                            {{ condominio }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="area">Área 1:</label>
                    <select name="area" id="area" class="form-control">
                        <option value="">Selecione uma área</option> <!-- Opção padrão -->
                    </select>
                    <div class="error-message text-danger">{{ form.area.errors }}</div> <!-- Erros de validação -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="area2">Área 2:</label>
                    <select name="area2" id="area2" class="form-control">
                        <option value="">Selecione uma área</option> <!-- Opção padrão -->
                    </select>
                    <div class="error-message text-danger">{{ form.area2.errors }}</div> <!-- Erros de validação -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipo">{{ form.tipo.label }}</label>
                    <select name="tipo" id="tipo" class="form-control">
                        <option value="">Selecione um tipo</option> <!-- Opção padrão -->
                        {% for tipo in form.tipo.field.choices %}
                            <option value="{{ tipo.0 }}" {% if tipo.0|stringformat:"d" == form.tipo.value|stringformat:"d" %}selected{% endif %}>
                                {{ tipo.1 }}
                            </option>
                        {% endfor %}
                    </select>
                    <div class="error-message text-danger">{{ form.tipo.errors }}</div> <!-- Erros de validação -->
                </div>
            </div>
        </div>
<br>
<br>
<br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Adicionar Área Paralela</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7VdI1LY8qlpXXWz68xk1UbcRTfV+uSh1TWn" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
    $('#condominio').change(function() {
        var condominioId = $(this).val();
        if (condominioId) {
            $.ajax({
                url: '{% url "get_areas" %}',
                data: {
                    'condominio_id': condominioId
                },
                success: function(response) {
                    var areaSelect = $('#area');
                    var area2Select = $('#area2');

                    // Limpar as opções anteriores de ambas as áreas
                    areaSelect.empty();
                    area2Select.empty();

                    // Adicionar a opção padrão
                    areaSelect.append('<option value="">Selecione uma área</option>');
                    area2Select.append('<option value="">Selecione uma área</option>');

                    // Adicionar as áreas retornadas ao dropdown de area e area2
                    $.each(response.areas, function(index, area) {
                        areaSelect.append('<option value="' + area.id + '">' + area.nome_area + '</option>');
                        area2Select.append('<option value="' + area.id + '">' + area.nome_area + '</option>');
                    });
                }
            });
        } else {
            // Limpar as opções se nenhum condomínio estiver selecionado
            $('#area').empty().append('<option value="">Selecione uma área</option>');
            $('#area2').empty().append('<option value="">Selecione uma área</option>');
        }
    });
});
</script>
{% endblock %}
