{% extends 'base_login.html' %}

{% block content %}
<div class="container">
    <h2>Áreas Paralelas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Condomínio Área 1</th>
                <th>Área 1</th>
                <th>Condomínio Área 2</th>
                <th>Área 2</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for area_paralela in areas_paralelas %}
            <tr>
                <td>{{ area_paralela.area.condominio.nome_condominio }}</td>
                <td>{{ area_paralela.area.nome_area }}</td>
                <td>{{ area_paralela.area2.condominio.nome_condominio }}</td>
                <td>{{ area_paralela.area2.nome_area }}</td>
                <td>{{ area_paralela.get_tipo_display }}</td>  <!-- Certifique-se de ter choices no campo 'tipo' -->
                <td>
                    <a href="{% url 'editar_area_paralela' area_paralela.pk %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'deletar_area_paralela' area_paralela.pk %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
