{% extends "base_login.html" %}
{% load static %}

{% block menu %}
<!-- Código do menu -->
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    <label for="condominio">Condomínio</label>
    <select id="condominio" name="condominio" class="form-control" disabled>
        <option value="{{ selected_condominio.id }}">{{ selected_condominio.nome_condominio }}</option>
    </select>

    <div>
        <label for="id_area">Área 1:</label>
        {{ form.area }}
        {% if form.area.errors %}
            <ul class="errorlist">
                {% for error in form.area.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_area2">Área 2:</label>
        {{ form.area2 }}
        {% if form.area2.errors %}
            <ul class="errorlist">
                {% for error in form.area2.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="id_tipo">Tipo:</label>
        <select name="tipo" id="id_tipo">
            <option value="1" {% if area_paralela.tipo == 1 %}selected{% endif %}>Concorrente</option>
            <option value="2" {% if area_paralela.tipo == 2 %}selected{% endif %}>Conjunta</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
