{% extends 'base_login.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles_condominios.css' %}">
{% endblock %}

{% block menu %}
<div class="icon-container" style="display: flex; align-items: center; justify-content: center; margin-bottom: -40px;">
    <img src="{% static 'img/icon.png' %}" alt="Logo" class="icon-img-add" style="max-width: 65%; height: 65px; margin-right: -20px;"> <!-- Ícone do lado esquerdo -->
    <h2 style="flex-grow: 1; text-align: center; margin: 0;">Adicionar Condomínio</h2> <!-- Título centralizado -->
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" id="condominium-form">
        {% csrf_token %}


        <div class="row">
            <div class="col-md-6">
                <!-- Nome do Condomínio e CNPJ na mesma linha -->
                <div class="form-group">
                    <label for="id_nome_condominio">Nome do Condomínio:</label>
                    {{ form.nome_condominio }}

                    <!-- Espaço entre os campos Nome e CNPJ -->
                    <label for="id_cnpj" style="display: inline-block; margin-left: 20px;">CNPJ:</label>
                    {{ form.cnpj }}

                    <div class="error-message">{{ form.nome_condominio.errors }}</div>
                    <div class="error-message">{{ form.cnpj.errors }}</div>
                </div>

                <!-- Campo Data do Condomínio -->
                <div class="form-group">
                    <label for="id_data_condominio">Data do Condomínio:</label>
                    {{ form.data_condominio }}

                <!-- Campo CEP -->
                    <label for="id_cep" style="display: inline-block; margin-left: 20px;">CEP:</label>
                    {{ form.cep }}

                    <div class="error-message">{{ form.data_condominio.errors }}</div>
                    <div class="error-message">{{ form.cep.errors }}</div>
                </div>

                <!-- Campo Logradouro -->
                <div class="form-group">
                    <label for="id_logradouro">Logradouro:</label>
                    {{ form.logradouro }}

                <!-- Campo Número -->
                    <label for="id_numero" style="display: inline-block; margin-left: 20px;">Número:</label>
                    {{ form.numero }}
                    <div class="error-message">{{ form.logradouro.errors }}</div>
                    <div class="error-message">{{ form.numero.errors }}</div>
                </div>

                <!-- Campo Complemento -->
                <div class="form-group">
                    <label for="id_complemento">Complemento:</label>
                    {{ form.complemento }}
                    <div class="error-message">{{ form.complemento.errors }}</div>
                </div>

                <!-- Campo Bairro -->
                <div class="form-group">
                    <label for="id_bairro">Bairro:</label>
                    {{ form.bairro }}

                <!-- Campo Cidade -->
                    <label for="id_cidade" style="display: inline-block; margin-left: 20px;">Cidade:</label>
                    {{ form.cidade }}

                <!-- Campo UF -->
                    <label for="id_uf" style="display: inline-block; margin-left: 20px;">UF:</label>
                    {{ form.uf }}
                    <div class="error-message">{{ form.bairro.errors }}</div>
                    <div class="error-message">{{ form.cidade.errors }}</div>
                    <div class="error-message">{{ form.uf.errors }}</div>
                </div>

                <!-- Campo Ramal do Condomínio -->
                <div class="form-group">
                    <label for="id_ramal_condominio">Ramal do Condomínio:</label>
                    {{ form.ramal_condominio }}

                <!-- Campo Ramal Interno -->
                    <label for="id_ramal_interno" style="display: inline-block; margin-left: 20px;">Ramal Interno:</label>
                    {{ form.ramal_interno }}

                <!-- Campo Telefone -->

                    <label for="id_telefone" style="display: inline-block; margin-left: 20px;">Telefone:</label>
                    {{ form.telefone }}

                    <div class="error-message">{{ form.ramal_interno.errors }}</div>
                    <div class="error-message">{{ form.ramal_condominio.errors }}</div>
                    <div class="error-message">{{ form.telefone.errors }}</div>
                </div>

                <!-- Campo Internet -->
                <div class="form-group">
                    <label for="id_internet">Internet:</label>
                    {{ form.internet }}
                    <div class="error-message">{{ form.internet.errors }}</div>
                </div>

                <!-- Campo Unidade -->
                <div class="form-group">
                    <label for="id_unidade">Unidade:</label>
                    {{ form.unidade }}
                    <div class="error-message">{{ form.unidade.errors }}</div>
                </div>

                <!-- Campo Suporte Unidade -->
                <div class="form-group">
                    <label for="id_suporteunidade">Suporte Unidade:</label>
                    {{ form.suporteunidade }}
                    <div class="error-message">{{ form.suporteunidade.errors }}</div>
                </div>

                <!-- Campo Entregadores Norma -->
                <div class="form-group">
                    <label for="id_entregadores_norma">Entregadores Norma:</label>
                    {{ form.entregadores_norma }}
                    <div class="error-message">{{ form.entregadores_norma.errors }}</div>
                </div>

                <!-- Campo Prestadores Norma -->
                <div class="form-group">
                    <label for="id_prestadores_norma">Prestadores Norma:</label>
                    {{ form.prestadores_norma }}
                    <div class="error-message">{{ form.prestadores_norma.errors }}</div>
                </div>

                <!-- Campo Reservas Norma -->
                <div class="form-group">
                    <label for="id_reservas_norma">Reservas Norma:</label>
                    {{ form.reservas_norma }}
                    <div class="error-message">{{ form.reservas_norma.errors }}</div>
                </div>

                <!-- Campo Mudanças Norma -->
                <div class="form-group">
                    <label for="id_mudancas_norma">Mudanças Norma:</label>
                    {{ form.mudancas_norma }}
                    <div class="error-message">{{ form.mudancas_norma.errors }}</div>
                </div>

                <!-- Campo Responsável Tattica -->
                <div class="form-group">
                    <label for="id_responsavel_tattica">Responsável Tattica:</label>
                    {{ form.responsavel_tattica }}
                    <div class="error-message">{{ form.responsavel_tattica.errors }}</div>
                </div>

                <!-- Campo Norma Observação -->
                <div class="form-group">
                    <label for="id_norma_observacao">Norma Observação:</label>
                    {{ form.norma_observacao }}
                    <div class="error-message">{{ form.norma_observacao.errors }}</div>
                </div>

                <!-- Campo Website -->
                <div class="form-group">
                    <label for="id_website">Website:</label>
                    {{ form.website }}
                    <div class="error-message">{{ form.website.errors }}</div>
                </div>

                <!-- Campo Website Agendamento -->
                <div class="form-group">
                    <label for="id_website_agendamento">Website Agendamento:</label>
                    {{ form.website_agendamento }}
                    <div class="error-message">{{ form.website_agendamento.errors }}</div>
                </div>

                <!-- Campo Financeiro Responsável -->
                <div class="form-group">
                    <label for="id_financeiro_responsavel">Financeiro Responsável:</label>
                    {{ form.financeiro_responsavel }}
                    <div class="error-message">{{ form.financeiro_responsavel.errors }}</div>
                </div>

                <!-- Campo Financeiro Email -->
                <div class="form-group">
                    <label for="id_financeiro_email">Financeiro Email:</label>
                    {{ form.financeiro_email }}
                    <div class="error-message">{{ form.financeiro_email.errors }}</div>
                </div>

                <button type="submit" class="btn btn-lg custom-save-btn">
                    Salvar
                </button>

                <br><br><br><br>
            </div>
        </div>
    </form>

    <!-- Incluindo o jQuery e jQuery Mask Plugin -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
    $(document).ready(function(){
        // Máscara para o CNPJ
        $('#id_cnpj').mask('00.000.000/0000-00');

        // Máscara para o CEP
        $('#id_cep').mask('00000-000');

        // Máscara para o TEL
        $('#id_telefone').mask('(00) 0 0000-00000');

        // Função para preencher o endereço a partir do CEP
        $('#id_cep').blur(function() {
            const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            $('#id_logradouro').val(data.logradouro);
                            $('#id_bairro').val(data.bairro);
                            $('#id_cidade').val(data.localidade);
                            $('#id_uf').val(data.uf);
                        } else {
                            alert('CEP não encontrado.');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao buscar dados:', error);
                        alert('Erro ao buscar dados do CEP.');
                    });
            }
        });
    });
    </script>

{% block footer %}
{% endblock %}
{% endblock %}
