{% extends 'base_login.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styles_condominios.css' %}">
{% endblock %}

{% block menu %}
<div class="icon-container" style="display: flex; align-items: center; justify-content: center; margin-bottom: -40px;">
    <h2 style="flex-grow: 1; text-align: center; margin: 0;">Editar Condomínio</h2>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" id="condominium-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <!-- Nome do Condomínio e CNPJ na mesma linha -->
                <div class="form-group">
                    <label for="id_nome_condominio" style="display: inline-block; margin-left: 40px;">Nome do Condomínio:</label>
                    {{ form.nome_condominio }}

                    <label for="id_cnpj" style="display: inline-block; margin-left: 20px;">CNPJ:</label>
                    {{ form.cnpj }}

                    <label for="id_data_condominio" style="display: inline-block; margin-left: 40px;">Data do Condomínio:</label>
                    {{ form.data_condominio }}

                    <div class="error-message">{{ form.nome_condominio.errors }}</div>
                    <div class="error-message">{{ form.cnpj.errors }}</div>
                    <div class="error-message">{{ form.data_condominio.errors }}</div>
                </div>

                <!-- Campo CEP -->
                <div class="form-group">
                    <label for="id_cep" style="display: inline-block; margin-left: 40px;">CEP:</label>
                    {{ form.cep }}

                    <label for="id_logradouro" style="display: inline-block; margin-left: 40px;">Logradouro:</label>
                    {{ form.logradouro }}

                    <label for="id_numero" style="display: inline-block; margin-left: 40px;">Número:</label>
                    {{ form.numero }}

                    <div class="error-message">{{ form.logradouro.errors }}</div>
                    <div class="error-message">{{ form.numero.errors }}</div>
                    <div class="error-message">{{ form.cep.errors }}</div>
                </div>

                <!-- Campo Complemento -->
                <div class="form-group">
                    <label for="id_complemento" style="display: inline-block; margin-left: 40px;">Complemento:</label>
                    {{ form.complemento }}
                    <div class="error-message">{{ form.complemento.errors }}</div>
                </div>

                <!-- Campo Bairro -->
                <div class="form-group">
                    <label for="id_bairro" style="display: inline-block; margin-left: 40px;">Bairro:</label>
                    {{ form.bairro }}

                    <label for="id_cidade" style="display: inline-block; margin-left: 40px;">Cidade:</label>
                    {{ form.cidade }}

                    <label for="id_uf" style="display: inline-block; margin-left: 40px;">UF:</label>
                    {{ form.uf }}

                    <div class="error-message">{{ form.bairro.errors }}</div>
                    <div class="error-message">{{ form.cidade.errors }}</div>
                    <div class="error-message">{{ form.uf.errors }}</div>
                </div>

                <!-- Campo Ramal do Condomínio -->
                <div class="form-group">
                    <label for="id_ramal_condominio" style="display: inline-block; margin-left: 40px;">Ramal do Condomínio:</label>
                    {{ form.ramal_condominio }}

                    <label for="id_ramal_interno" style="display: inline-block; margin-left: 40px;">Ramal Interno:</label>
                    {{ form.ramal_interno }}

                    <label for="id_telefone" style="display: inline-block; margin-left: 40px;">Telefone:</label>
                    {{ form.telefone }}

                    <div class="error-message">{{ form.ramal_interno.errors }}</div>
                    <div class="error-message">{{ form.ramal_condominio.errors }}</div>
                    <div class="error-message">{{ form.telefone.errors }}</div>
                </div>

                <!-- Campo Internet -->
                <div class="form-group">
                    <label for="id_internet" style="display: inline-block; margin-left: 40px;">Internet:</label>
                    {{ form.internet }}

                    <label for="id_unidade" style="display: inline-block; margin-left: 40px;">Unidade:</label>
                    {{ form.unidade }}

                    <label for="id_suporteunidade" style="display: inline-block; margin-left: 40px;">Suporte Unidade:</label>
                    {{ form.suporteunidade }}

                    <div class="error-message">{{ form.internet.errors }}</div>
                    <div class="error-message">{{ form.unidade.errors }}</div>
                    <div class="error-message">{{ form.suporteunidade.errors }}</div>
                </div>

                <!-- Campo Entregadores Norma -->
                <div class="form-group">
                    <label for="id_entregadores_norma" style="display: inline-block; margin-left: 40px;">Entregadores Norma:</label>
                    {{ form.entregadores_norma }}

                    <label for="id_prestadores_norma" style="display: inline-block; margin-left: 40px;">Prestadores Norma:</label>
                    {{ form.prestadores_norma }}

                    <label for="id_reservas_norma" style="display: inline-block; margin-left: 40px;">Reservas Norma:</label>
                    {{ form.reservas_norma }}

                    <div class="error-message">{{ form.reservas_norma.errors }}</div>
                    <div class="error-message">{{ form.prestadores_norma.errors }}</div>
                    <div class="error-message">{{ form.entregadores_norma.errors }}</div>
                </div>

                <!-- Campo Mudanças Norma -->
                <div class="form-group">
                    <label for="id_mudancas_norma" style="display: inline-block; margin-left: 40px;">Mudanças Norma:</label>
                    {{ form.mudancas_norma }}

                    <label for="id_responsavel_tattica" style="display: inline-block; margin-left: 40px;">Responsável Tattica:</label>
                    {{ form.responsavel_tattica }}

                    <div class="error-message">{{ form.responsavel_tattica.errors }}</div>
                    <div class="error-message">{{ form.mudancas_norma.errors }}</div>
                </div>

                <!-- Campo Norma Observação -->
                <div class="form-group">
                    <label for="id_norma_observacao" style="display: inline-block; margin-left: 40px;">Norma Observação:</label>
                    {{ form.norma_observacao }}

                    <div class="error-message">{{ form.norma_observacao.errors }}</div>
                </div>

                <!-- Campo Website -->
                <div class="form-group">
                    <label for="id_website" style="display: inline-block; margin-left: 40px;">Website:</label>
                    {{ form.website }}

                    <label for="id_website_agendamento" style="display: inline-block; margin-left: 40px;">Website Agendamento:</label>
                    {{ form.website_agendamento }}

                    <div class="error-message">{{ form.website_agendamento.errors }}</div>
                    <div class="error-message">{{ form.website.errors }}</div>
                </div>

                <!-- Campo Financeiro Responsável -->
                <div class="form-group">
                    <label for="id_financeiro_responsavel" style="display: inline-block; margin-left: 40px;">Financeiro Responsável:</label>
                    {{ form.financeiro_responsavel }}

                    <label for="id_financeiro_email" style="display: inline-block; margin-left: 40px;">Financeiro Email:</label>
                    {{ form.financeiro_email }}

                    <div class="error-message">{{ form.financeiro_email.errors }}</div>
                    <div class="error-message">{{ form.financeiro_responsavel.errors }}</div>
                </div>

                <button type="submit" class="btn btn-lg custom-save-btn" style="display: inline-block; margin-left: 40px;">
                    Salvar
                </button>

                <!-- Botão Cancelar -->
                <button type="button" class="btn btn-lg custom-cancel-btn" style="display: inline-block; margin-left: 40px;" onclick="window.history.back();">
                    Cancelar
                </button>

                <input type="hidden" name="status" value="1">
            </div>
        </div>
    </form>

    <!-- Incluindo o jQuery e jQuery Mask Plugin -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
    $(document).ready(function(){
        // Máscara para o CNPJ
        $('#id_cnpj').mask('00.000.000/0000-00');

        // Máscara para o CEP
        $('#id_cep').mask('00000-000');

        // Máscara para o TEL
        $('#id_telefone').mask('(00) 0 0000-00000');

        // Função para preencher o endereço a partir do CEP
        $('#id_cep').blur(function() {
            const cep = this.value.replace(/\D/g, ''); // Remove caracteres não numéricos
            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            $('#id_logradouro').val(data.logradouro);
                            $('#id_bairro').val(data.bairro);
                            $('#id_cidade').val(data.localidade);
                            $('#id_uf').val(data.uf);
                        } else {
                            alert('CEP não encontrado.');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao buscar dados:', error);
                        alert('Erro ao buscar dados do CEP.');
                    });
            }
        });
    });
    </script>

{% block footer %}
{% endblock %}
{% endblock %}
