{% extends 'base_login.html' %}

{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'menu_adm' %}" style="margin-right: 120px;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex">
                <!-- Seus itens de menu aqui -->
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'create_condominio'%}">
                        <img src="{% static 'img/condominio.png' %}" alt="Condomínio" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Condomínios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'criar_apartamentos' %}">
                        <img src="{% static 'img/Apartamentos.png' %}" alt="Apartamentos" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Apartamentos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'criar_pessoas' %}">
                        <img src="{% static 'img/pessoa.png' %}" alt="Pessoas" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Pessoas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'criar_veiculos' %}">
                        <img src="{% static 'img/veiculo.png' %}" alt="Veiculos" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Veiculos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'criar_pets' %}">
                        <img src="{% static 'img/pets.png' %}" alt="Pets" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Pets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#">
                        <img src="{% static 'img/emergencia.png' %}" alt="OCR" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Contato Emergência
                    </a>
                </li>
            </ul>
            <!-- Adicione o logout aqui, dentro de um novo <ul> com a classe ms-auto -->
            <ul class="navbar-nav ms-auto"> <!-- Isso vai empurrar o conteúdo para a direita -->
                <li class="nav-item">
                    <a class="nav-link custom-nav-link logout-link" href="{% url 'login' %}" style="margin-right: 40px;">
                        <img src="{% static 'img/sair.png' %}" alt="sair" style="width: 30px; height: 30px; margin-right: 5px;"><br>
                        𝐒𝐚𝐢𝐫
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    {% if condominios %}
        <div class="form-group custom-form-group">
            <br>
            <label for="searchbar"><b>Buscar condomínio:</b></label>
            <input type="text" class="form-control" placeholder="Buscar condomínio..." id="searchbar" onkeyup="search()" name="searchbar">
        </div>
        <br>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ramal</th>
                        <th scope="col">Condomínio</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Unidade</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for condominio in condominios %}
                    <tr data-condominio-id="{{ condominio.id }}">
                        <td>{{ condominio.ramal_condominio }}</td>
                        <td>{{ condominio.nome_condominio }}</td>
                        <td>{{ condominio.telefone }}</td>
                        <td>{{ condominio.cidade }}</td>
                        <td>{{ condominio.unidade.nome_unidade }}</td>
                        <td>{{ condominio.bairro }}</td>
                        <td class="acoes-column">
                            <a href="{% url 'editar_condominio' condominio.id %}">
                                <img src="{% static 'img/editar.png' %}" alt="Editar" style="width: 20px; height: 20px; margin-right: 5px;">
                            </a>
                            <a href="{% url 'delete_condominio' condominio.id %}">
                            <img src="{% static 'img/excluir.png' %}" alt="Excluir" style="width: 20px; height: 20px; margin-right: 5px;">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
        <br>
    {% else %}
        <p class="text-center">Nenhum condomínio encontrado.</p>
    {% endif %}

    <script>
        function search() {
            let input = document.getElementById('searchbar').value.toLowerCase();
            let rows = document.querySelectorAll('.table-responsive tbody tr');

            rows.forEach(row => {
                let condominioNome = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                row.style.display = condominioNome.includes(input) ? "" : "none";  // Simplificando a lógica
            });
        }
    </script>

    {% if not condominios %}
        <p class="text-danger">Você não tem permissão para acessar esta página.</p>
    {% endif %}
</div>
{% endblock %}