{% extends 'base_login.html' %}

{% load static %}
{% load custom_tags %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'menu_adm' %}" style="margin-right: 120px;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'lista_controleacesso_pendente' %}">
                        <img src="{% static 'img/ctr.png' %}" alt="ctr" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Controles Acessos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#">
                        <img src="{% static 'img/solicitacaoimagem.png' %}" alt="solicitacaoimagem" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Solicitação Imagem
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link custom-nav-link logout-link" style="background: none; border: none; padding: 0;">
                            <img src="{% static 'img/sair.png' %}" alt="sair" style="width: 30px; height: 30px; margin-right: 5px;">𝐒𝐚𝐢𝐫
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{