{% extends 'base_login.html' %}

{% load static %}
{% load custom_tags %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'menu_adm' %}" style="margin-right: 120px;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'lista_controleacesso' %}">
                        <img src="{% static 'img/ctr.png' %}" alt="ctr" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Controles Acessos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#">
                        <img src="{% static 'img/solicitacaoimagem.png' %}" alt="solicitacaoimagem" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        Solicitação Imagem
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link custom-nav-link logout-link" style="background: none; border: none; padding: 0;">
                            <img src="{% static 'img/sair.png' %}" alt="sair" style="width: 30px; height: 30px; margin-right: 5px;">𝐒𝐚𝐢𝐫
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<br>
<br>
<div class="d-flex justify-content-center align-items-center mb-4">
    <h2 class="mb-0">Controles de Acessos</h2>
</div>
<div class="container">
{% if pendencias_existentes %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Atenção!</strong> Existem pendências a serem tratadas. Por favor, resolva-as o mais rápido possível.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
</div>
<div class="form-group custom-form-group">
    <label for="searchbar"><b>Buscar condomínio:</b></label>
    <input type="text" class="form-control" placeholder="Buscar condomínio..." id="searchbar" onkeyup="search()" name="searchbar">
</div>
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Cidade</th>
            <th>Condomínio</th>
            <th>Tipo</th>
            <th>QTD</th>
            <th>Solicitante</th>
            <th>Executor</th>
            <th>Observação Interna</th>
            <th>Pedido</th>
            <th>Valor</th>
            <th>Validade</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for controle in controles %}
        <tr>
            <td>{{ controle.created|date:"d/m/Y H:i:s" }}</td>
            <td>{{ controle.condominio.cidade }}</td>
            <td>{{ controle.condominio.nome_condominio }}</td>
            <td>{{ controle.tipos_controles_acesso.nome_tipos_controles_acesso }}</td>
            <td>{{ controle.quantidade }}</td>
            <td>{{ controle.solicitante }}</td>
            <td>Tattica</td>
            <td>{{ controle.descricao }}</td>
            <td>
                {% if controle.pedido == 1 %}
                    Gratuito
                {% elif controle.pedido == 2 %}
                    Aguardando Pagamento
                {% elif controle.pedido == 3 %}
                    Pago em Dinheiro
                {% elif controle.pedido == 6 %}
                    A receber em Dinheiro
                {% elif controle.pedido == 7 %}
                    A receber por PagSeguro
                {% elif controle.pedido == 8 %}
                    A receber por Transferência
                {% elif controle.pedido == 4 %}
                    Pago por Transferência
                {% elif controle.pedido == 5 %}
                    Pago por PagSeguro
                {% elif controle.pedido == 9 %}
                    Em Análise
                {% else %}
                    Não Definido
                {% endif %}
            </td>
            <td>
                {% if controle.valor == None %}
                     {% if controle.pedido == 1 %}
                        0,00
                    {% endif %}
                {% else %}
                    {{controle.valor}}
                {% endif %}
            </td>
            <td>
                {% if controle.data_prazo %}
                    {% if controle|is_vencido %}
                        <span class="vencido">Vencido</span>
                    {% else %}
                        {{ controle.data_prazo|date:"d/m/Y" }}
                    {% endif %}
                {% endif %}
            </td>

            <td>
                {% if controle.status == 1 %}
                    <span class="status-pendente">Pendente</span>
                {% elif controle.status == 2 %}
                    <span class="status-entregar">A Entregar</span>
                {% elif controle.status == 3 %}
                    <span class="status-resolvido">Resolvido</span>
                {% else %}
                    <span class="status-nao-determinado">Indeterminado</span> <!-- Novo caso para status não definido -->
                {% endif %}
            </td>
            <td>
                                                <a href="#">
                    <img src="{% static 'img/editar.png' %}" alt="Editar" style="width: 20px; height: 20px;">
                </a>
                <a href="#">
                    <img src="{% static 'img/excluir.png' %}" alt="Excluir" style="width: 20px; height: 20px;">
                </a>
            </td>


        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
.vencido {
    color: white;
    background-color: #ffb884;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.status-pendente {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status-entregar {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status-resolvido {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status-nao-determinado {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

</style>
<script>
    function search() {
        let input = document.getElementById('searchbar').value.toLowerCase();
        let rows = document.querySelectorAll('tbody tr');

        rows.forEach(row => {
            let condominioNome = row.querySelector('td:nth-child(3)').textContent.toLowerCase();
            if (condominioNome.includes(input)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>

{% endblock %}
