{% extends "base_login.html" %}
{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 15px;">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav custom-nav-link">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'listar_agendamento_horarios' %}" style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{% static 'img/voltar.png' %}" alt="voltar" style="width: 30px; height: 30px; margin-left: 100px; filter: invert(1);">
                        <span style="margin-top: 5px; margin-left: 100px;">Retornar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="icon-container" style="display: flex; align-items: center; justify-content: center; margin-bottom: -40px;"></div>
<br>
<br>
<br>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Adicionar Horário de Agendamento</h2> <!-- Título centralizado -->

<form method="post" id="agendamento-form">
    {% csrf_token %}

    <div class="form-group">
        <label for="condominio">Condomínio:</label>
        <select id="condominio" name="condominio" class="form-control" onchange="this.form.submit();">
            <option value="">Selecione um condomínio</option>
            {% for condominio in condominios %}
                <option value="{{ condominio.id }}" {% if selected_condominio == condominio.id|stringformat:"d" %}selected{% endif %}>{{ condominio.nome_condominio }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="area">Área:</label>
        <select id="area" name="area" class="form-control">
            <option value="">Selecione uma área</option>
            {% for area in areas %}
                <option value="{{ area.id }}">{{ area.nome_area }}</option>
            {% endfor %}
        </select>
    </div>
    <br>

    <!-- Campos do formulário de agendamento -->
    {{ form.horario_inicio.label_tag }}
    {{ form.horario_inicio }}
    {{ form.horario_fim.label_tag }}
    {{ form.horario_fim }}

    <!-- Campo oculto para status -->
    <input type="hidden" name="status" value="1"> <!-- Adicione este campo -->

    <div class="form-group">
        <br>
        <button type="submit" class="btn btn-primary">Adicionar Horário Agendamento</button>
    </div>
</form>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7VdI1LY8qlpXXWz68xk1UbcRTfV+uSh1TWn" crossorigin="anonymous"></script>

<script>
    // Script para carregar áreas com base no condomínio selecionado
    $(document).ready(function() {
        $('#condominio').change(function() {
            var condominioId = $(this).val();
            if (condominioId) {
                $.ajax({
                    url: '{% url "get_areas" %}',  // URL da view para buscar áreas
                    data: {'condominio_id': condominioId},
                    success: function(response) {
                        var areaSelect = $('#area');
                        areaSelect.empty().append('<option value="">Selecione uma área</option>');

                        $.each(response.areas, function(index, area) {
                            areaSelect.append('<option value="' + area.id + '">' + area.nome_area + '</option>');
                        });
                    }
                });
            }
        });
    });
</script>
{% endblock %}
