{% extends 'base_login.html' %}

{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'menu_adm' %}" style="margin-right: 120px;">
            <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'criar_pessoas' %}">Adicionar Pessoa</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Lista de Pessoas</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Apartamento</th>
                <th>Tipo de Pessoa</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.nome_pessoa }}</td>
                <td>{{ pessoa.apartamento.nome_apartamento }}</td>
                <td>{{ pessoa.tipos_pessoa.nome_tipos_pessoa }}</td>
                <td>
                    <a href="{% url 'editar_pessoas' pessoa.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'deletar_pessoas' pessoa.id %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhuma pessoa cadastrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
