{% extends 'base_login.html' %}
{% load static %}  <!-- Carregando a tag static -->

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style="margin-right: 120px;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto w-100 d-flex">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'register' %}">
                        <img src="{% static 'img/pessoa.png' %}" alt="pessoa" style="width: 30px; height: 30px; margin-right: 5px;">
                    Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'manage_users_groups_permissions' %}">
                        <img src="{% static 'img/permissao.png' %}" alt="permissao" style="width: 30px; height: 30px; margin-right: 5px;">
                     Permissões </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <h1 class="text-center">Bem-vindo à página de configuração</h1>
</div>
{% endblock %}
