{% extends "base_login.html" %}
{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style="margin-right: 120px;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto w-100 d-flex">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'configuracao' %}">
                        <img src="{% static 'img/voltar.png' %}" alt="Configuração" style="width: 30px; height: 30px; margin-right: 5px;">
                        Retornar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100 custom-bg">
  <div class="w-100" style="max-width: 331px; width: 105%; border-radius: 5px; padding: 16px;">
    <!-- Imagem do ícone -->
    <div class="text-center mb-4">
      <img src="{% static 'img/icon.png' %}" alt="Logo" class="img-fluid">
    </div>

    <!-- Mensagem de boas-vindas -->
    <h5 class="text-center mb-3">Cadastro de Usuário</h5>
    <p class="text-center mb-4">Preencha os dados para criar uma conta</p>

    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          <strong>Erro:</strong> {{ error }}<br>
        {% endfor %}
        {% if form.username.errors %}
          <strong>Erro:</strong> {{ form.username.errors.0 }}<br>
        {% endif %}
        {% if form.password.errors %}
          <strong>Erro:</strong> {{ form.password.errors.0 }}<br>
        {% endif %}
      </div>
    {% endif %}

    <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label"><strong>Usuário</strong></label>
        <input type="text" name="username" class="form-control w-100" id="username" placeholder="Usuário" required value="" autocomplete="off">  <!-- Adicionado: autocomplete="off" -->
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"><strong>Email</strong></label>
        <input type="email" name="email" class="form-control w-100" id="email" placeholder="Email" required value="" autocomplete="off">  <!-- Adicionado: autocomplete="off" -->
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"><strong>Senha</strong></label>
        <input type="password" name="password" class="form-control w-100" id="password" placeholder="Senha" required value="" autocomplete="off">  <!-- Adicionado: autocomplete="off" -->
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label"><strong>Confirme a Senha</strong></label>
        <input type="password" name="confirm_password" class="form-control w-100" id="confirm_password" placeholder="Confirme a Senha" required value="" autocomplete="off">  <!-- Adicionado: autocomplete="off" -->
      </div>
      <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </form>

    <!-- Botão para voltar ao gerenciamento de permissões -->
    <div class="mt-3">
      <a href="{% url 'manage_users_groups_permissions' %}" class="btn btn-secondary w-100">Voltar ao Gerenciamento</a>
    </div>

    <!-- Copyright -->
    <p class="text-center mt-3">
      <strong>Severus Tecnologia © - 2024<br>
      (27) 3026-2196</strong>
    </p>
  </div>
</div>
{% endblock %}
