{% extends "base_login.html" %}
{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 15px;">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav custom-nav-link">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'listar_feriados' %}" style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{% static 'img/voltar.png' %}" alt="voltar" style="width: 30px; height: 30px; margin-left: 100px; filter: invert(1);">
                        <span style="margin-top: 5px; margin-left: 100px;">Retornar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="icon-container" style="display: flex; align-items: center; justify-content: center; margin-bottom: -40px;"></div>
<br>
<br>
<br>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Feriado</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Exibe os campos do formulário do feriado -->

        <div class="col-md-12">
            <h3>Pesquisar Condomínios</h3>
            <input type="text" id="search-condominios" class="form-control mb-2" placeholder="Pesquisar Condomínios">
        </div>

        <div class="row">
            <!-- Condomínios Liberados -->
            <div class="col-md-6">
                <h3>Condomínios Liberados</h3>
                <div class="container-condominios">
                    <strong>Total de <span id="total-liberados">{{ condominios_liberados.count }}</span> condomínios</strong>
                    <div class="lista-condominios">
                        <ul id="liberados-list">
                            {% for condominio in condominios_liberados %}
                            <li class="condominio-item" data-id="{{ condominio.id }}">
                                {{ condominio.nome_condominio }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Condomínios Bloqueados -->
            <div class="col-md-6">
                <h3>Condomínios Bloqueados</h3>
                <div class="container-condominios">
                    <strong>Total de <span id="total-bloqueados">{{ condominios_bloqueados.count }}</span> condomínios</strong>
                    <div class="lista-condominios">
                        <ul id="bloqueados-list">
                            {% for condominio in condominios_bloqueados %}
                            <li class="condominio-item" data-id="{{ condominio.id }}">
                                {{ condominio.nome_condominio }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-3">
            <button type="button" id="move-to-bloqueados" class="btn btn-success"> > </button>
            <button type="button" id="move-to-liberados" class="btn btn-danger"> < </button>
        </div>

        <input type="hidden" name="bloqueados_ids" id="bloqueados-ids">
        <button type="submit" class="btn btn-primary mt-3">Salvar alterações</button>
    </form>
</div>

<script>
    const liberadosList = document.getElementById('liberados-list');
    const bloqueadosList = document.getElementById('bloqueados-list');
    const bloqueadosIdsInput = document.getElementById('bloqueados-ids');
    const searchInput = document.getElementById('search-condominios');

    // Função para atualizar os ids dos condomínios bloqueados
    function updateBloqueadosIds() {
        const bloqueadosIds = Array.from(bloqueadosList.children).map(item => item.dataset.id);
        bloqueadosIdsInput.value = bloqueadosIds.join(',');
    }

    // Movendo itens entre as listas
    document.getElementById('move-to-bloqueados').addEventListener('click', function() {
        const selectedItems = Array.from(liberadosList.querySelectorAll('.condominio-item.selected'));
        selectedItems.forEach(item => {
            item.classList.remove('selected');
            bloqueadosList.appendChild(item);
        });
        updateBloqueadosIds();
    });

    document.getElementById('move-to-liberados').addEventListener('click', function() {
        const selectedItems = Array.from(bloqueadosList.querySelectorAll('.condominio-item.selected'));
        selectedItems.forEach(item => {
            item.classList.remove('selected');
            liberadosList.appendChild(item);
        });
        updateBloqueadosIds();
    });

    // Função para alternar seleção dos itens
    function toggleSelection(event) {
        if (event.target.tagName === 'LI') {
            event.target.classList.toggle('selected');
        }
    }

    liberadosList.addEventListener('click', toggleSelection);
    bloqueadosList.addEventListener('click', toggleSelection);

    // Função para filtrar os condomínios com base na pesquisa
    searchInput.addEventListener('input', function() {
        const searchTerm = searchInput.value.toLowerCase();

        // Filtra e exibe os itens de ambas as listas
        filterList(liberadosList, searchTerm);
        filterList(bloqueadosList, searchTerm);
    });

    // Função para filtrar a lista com base no termo de pesquisa
    function filterList(list, searchTerm) {
        const items = list.querySelectorAll('.condominio-item');
        items.forEach(item => {
            const text = item.textContent.toLowerCase();
            if (text.includes(searchTerm)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    }

    updateBloqueadosIds();
</script>

<style>
    .container-condominios {
        height: 300px; /* Define uma altura fixa para os containers */
        overflow-y: auto; /* Adiciona barra de rolagem vertical */
        border: 1px solid #ccc; /* Adiciona uma borda para visualização */
        padding: 10px; /* Espaçamento interno */
    }

    .lista-condominios {
        list-style-type: none; /* Remove os marcadores da lista */
        padding: 0; /* Remove o padding padrão da lista */
    }

    .lista-condominios li {
        padding: 5px 0; /* Espaçamento entre os itens */
        cursor: pointer; /* Muda o cursor para indicar que a linha é clicável */
    }

    .lista-condominios li.selected {
        background-color: #007bff; /* Cor de fundo para itens selecionados */
        color: white; /* Cor do texto para itens selecionados */
    }

    .text-center {
        margin: 20px 0; /* Espaçamento entre botões */
    }
</style>
{% endblock %}
