{% extends 'base_login.html' %}
{% load static %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="margin-right: 120px;">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 20px;">
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'menu_agd' %}">
                        <img src="{% static 'img/voltar.png' %}" alt="pessoa" style="width: 30px; height: 30px; margin-bottom: 5px;filter: invert(1);"><br>
                        <span>Retornar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
    <h2 class="text-center">Lista de Agendamentos</h2>

    <!-- Filtro de busca em 2 colunas -->
    <form id="agendamento-form" method="get" action="{% url 'lista_agendamento' %}" class="mb-3">
        <div class="row">
            <div class="col-md-6">
                <!-- Filtros da primeira coluna -->
                <div class="form-group">
                    <label for="condominio">Condomínio:</label><br>
                    <select name="condominio" id="condominio" class="form-control">
                        <option value="Todos" {% if filtros.condominio == 'Todos' %}selected{% endif %}>Todos</option>
                        {% for condominio in condominios %}
                            <option value="{{ condominio.id }}" {% if filtros.condominio == condominio.id|stringformat:"s" %}selected{% endif %}>
                                {{ condominio.nome_condominio }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="apartamento">Apartamento:</label>
                    <select name="apartamento" id="apartamento" class="form-control">
                        <option value="Todos">Todos</option>
                        {% for apartamento in apartamentos %}
                            <option value="{{ apartamento.id }}" {% if filtros.apartamento == apartamento.id|stringformat:"s" %}selected{% endif %}>{{ apartamento.nome_apartamento }}</option>
                        {% empty %}
                            <option value="">Nenhum apartamento encontrado</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="adm">Adm:</label>
                    <select name="adm" id="adm" class="form-control">
                        <option value="Todos">Todos</option>
                        <option value="1" {% if filtros.adm == "1" %}selected{% endif %}>Informar</option>
                        <option value="2" {% if filtros.adm == "2" %}selected{% endif %}>Ciente</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_inicio">Data Início:</label>
                    <input type="date" name="data_inicio" id="data_inicio" class="form-control" value="{{ filtros.data_inicio }}">
                </div>
            </div>
            <div class="col-md-6">
                <!-- Filtros da segunda coluna -->
                <div class="form-group">
                    <label for="mudanca">Mudança:</label>
                    <select name="mudanca" id="mudanca" class="form-control">
                        <option value="Todos">Todos</option>
                        <option value="1" {% if filtros.mudanca == "1" %}selected{% endif %}>Entrada</option>
                        <option value="2" {% if filtros.mudanca == "2" %}selected{% endif %}>Saída</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="zelador">Zelador:</label>
                    <select name="zelador" id="zelador" class="form-control">
                        <option value="Todos">Todos</option>
                        <option value="1" {% if filtros.zelador == "1" %}selected{% endif %}>Informar</option>
                        <option value="2" {% if filtros.zelador == "2" %}selected{% endif %}>Ciente</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <select name="status" id="status" class="form-control">
                        <option value="Todos">Todos</option>
                        <option value="1" {% if filtros.status == "1" %}selected{% endif %}>Pendente</option>
                        <option value="2" {% if filtros.status == "2" %}selected{% endif %}>Aprovado</option>
                        <option value="3" {% if filtros.status == "3" %}selected{% endif %}>Cancelado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_fim">Data Fim:</label>
                    <input type="date" name="data_fim" id="data_fim" class="form-control" value="{{ filtros.data_fim }}">
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </form>

    <!-- Tabela de Agendamentos -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Condomínio</th>
                <th>Área</th>
                <th>Andar</th>
                <th>Data</th>
                <th>Hora</th>
                <th>APTO</th>
                <th>Lista</th>
                <th>Adm.</th>
                <th>Zelador</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in page_obj %}
                <tr>
                    <td>{{ agendamento.condominio.nome_condominio }}</td>
                    <td>{{ agendamento.area.nome_area }}</td>
                    <td>{{ agendamento.area.andar }}</td>
                    <td>{{ agendamento.data_inicio|date:"d/m/Y" }}</td>
                    <td>{{ agendamento.hora_inicio }} a {{ agendamento.hora_fim }}</td>
                    <td>{{ agendamento.apartamento.nome_apartamento }}</td>
                    <td>{{ agendamento.outrostext }}</td>
                    <td style=" text-align: center;

                                {% if agendamento.adm == 1 %}
                                    background-color: orange; color: white;
                                {% elif agendamento.adm == 2 %}
                                    background-color: green; color: white;
                                {% else %}
                                    background-color: red; color: white;
                                {% endif %}
                    ">
                        {% if agendamento.adm == 1 %}
                            Informar
                        {% elif agendamento.adm == 2 %}
                            Ciente
                        {% else %}
                            Não Definido
                        {% endif %}
                    </td>
                    <td style=" text-align: center;

                                {% if agendamento.zelador == 1 %}
                                    background-color: orange; color: white;
                                {% elif agendamento.zelador == 2 %}
                                    background-color: green; color: white;
                                {% else %}
                                    background-color: red; color: white;
                                {% endif %}
                    ">
                        {% if agendamento.zelador == 1 %}
                            Informar
                        {% elif agendamento.zelador == 2 %}
                            Ciente
                        {% else %}
                            Não Definido
                        {% endif %}
                    </td>

                    <td style=" text-align: center;

                                {% if agendamento.status == 1 %}
                                    background-color: orange; color: white;
                                {% elif agendamento.status == 2 %}
                                    background-color: green; color: white;
                                {% else %}
                                    background-color: red; color: white;
                                {% endif %}
                    ">
                        {% if agendamento.status == 1 %}
                            Pendente
                        {% elif agendamento.status == 2 %}
                            Aprovado
                        {% elif agendamento.status == 3 %}
                            Cancelado
                        {% else %}
                            Não Definido
                        {% endif %}
                    </td>
                    <td><a href="{% url 'editar_agendamento' agendamento.id %}">
                        <img src="{% static 'img/editar.png' %}" alt="Editar" style="width: 20px; height: 20px; margin-right: 5px;">
                        <a href="{% url 'deletar_agendamento' agendamento.id %}">
                        <img src="{% static 'img/excluir.png' %}" alt="Excluir" style="width: 20px; height: 20px; margin-right: 5px;">
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10">Nenhum agendamento encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginação -->
    <div class="pagination-container">
        <span class="pagination-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
