{% extends 'base_login.html' %}
{% load static %}

{% block menu %}
<!-- Código do menu permanece o mesmo -->
{% endblock %}

{% block content %}
<br>
<h2 style="text-align: center;">Adicionar Controle de Acesso</h2>

<div class="container">
    <form method="POST">
        {% csrf_token %}

        <input type="hidden" name="status" value="1">

        <div class="row">
            <!-- Primeira coluna -->
            <div class="col-md-6">
                <!-- Colaborador -->
                <label for="colaborador"><strong>Colaborador:</strong></label>
                <select id="colaborador" name="colaborador" class="form-control">
                    <option value="">Selecione um Colaborador</option>
                    {% for colaborador in colaboradores %}
                        <option value="{{ colaborador.id }}">{{ colaborador.nome_funcionario }}</option>
                    {% endfor %}
                </select>

                <!-- Tipos de Controle de Acesso -->
                <label for="tipos_controles_acesso"><strong>Tipos de Controle de Acesso:</strong></label>
                <select id="tipos_controles_acesso" name="tipos_controles_acesso" class="form-control">
                    <option value="">Selecione...</option>
                    {% for tipo in tipos_controles_acesso %}
                        <option value="{{ tipo.id }}">{{ tipo.nome_tipos_controles_acesso }}</option>
                    {% endfor %}
                </select>

                <!-- Perfil do Solicitante -->
                <label for="perfil_solicitante"><strong>Perfil Do Solicitante:</strong></label>
                <select id="perfil_solicitante" name="perfil_solicitante" class="form-control">
                    <option value="">Selecione um perfil</option>
                    <option value="morador">Morador</option>
                    <option value="sindico">Síndico</option>
                    <option value="funcionario_condominio">Funcionário do Condomínio</option>
                    <option value="outros">Outros</option>
                </select>

                <!-- Condomínio -->
                <label for="condominio"><strong>Condomínio:</strong></label>
                <select id="condominio" name="condominio" class="form-control">
                    <option value="">Selecione um Condomínio</option>
                    {% for condominio in condominios %}
                        <option value="{{ condominio.id }}">{{ condominio.nome_condominio }}</option>
                    {% endfor %}
                </select>

                <!-- Apartamento (oculto quando o perfil for 'Síndico') -->
                <label for="apartamento" class="form-label" id="apartamento-label">Apartamento:</label>
                <select name="apartamento" id="apartamento" class="form-control" required>
                    <option value="">Selecione o Apartamento...</option>
                </select>

                <label for="pessoa" class="form-label">Pessoa:</label>
                <select id="pessoa" name="pessoa" class="form-control">
                    <option value="">Selecione a Pessoa...</option>
                    <!-- As opções serão preenchidas pelo JavaScript -->
                </select>
            </div>

            <!-- Segunda coluna -->
            <div class="col-md-6">
                <!-- Execução -->
                <label for="execucao"><strong>Execução:</strong></label>
                <select id="execucao" name="execucao" class="form-control">
                    <option value="1">Remoto</option>
                    <option value="2">Presencial</option>
                </select>

                <!-- Pedido -->
                <label for="pedido"><strong>Pedido:</strong></label>
                <select id="pedido" name="pedido" class="form-control" required>
                    <option value="" disabled selected>Selecione uma opção de Pedido...</option>
                    <option value="1">Gratuito</option>
                    <option value="2">Aguardando Pagamento</option>
                    <option value="6">A receber em dinheiro</option>
                    <option value="7">A receber por PagSeguro</option>
                    <option value="8">A receber por transferência</option>
                    <option value="3">Pago em dinheiro</option>
                    <option value="5">Pago por PagSeguro</option>
                    <option value="4">Pago por transferência</option>
                    <option value="9">Em análise</option>
                </select>

                <!-- Quantidade -->
                <label for="quantidade"><strong>Quantidade:</strong></label>
                <input type="number" id="quantidade" name="quantidade" class="form-control" min="1" />

                <!-- Descrição -->
                <label for="descricao"><strong>Descrição para o Cliente:</strong></label>
                <textarea id="descricao" name="descricao" class="form-control"></textarea>

                <!-- Observação Interna -->
                <label for="observacao_interna"><strong>Observação Interna:</strong></label>
                <textarea id="observacao_interna" name="observacao_interna" class="form-control"></textarea>

                <!-- Valor -->
                <label for="valor"><strong>Valor:</strong></label>
                <input id="valor" name="valor" type="text" class="form-control" placeholder="Digite o valor">
            </div>
        </div>

        <!-- Botão de submissão -->
        <div class="form-group"><br>
            <button type="submit" class="btn btn-primary">Salvar Controle de Acesso</button>
        </div>
    </form>
</div>

<!-- Inclua jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Inclua o jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
    $(document).ready(function() {
        // Máscaras de telefone
        $('#telefone1').mask('(00) 0 0000-0000');
        $('#telefone2').mask('(00) 0 0000-0000');
        $('#valor').mask('000.000.000.000.000,00', {reverse: true});
    });

    // Atualiza os apartamentos conforme o condomínio selecionado
document.getElementById('condominio').addEventListener('change', function() {
    var condominioId = this.value;
    var perfilSolicitante = document.getElementById('perfil_solicitante').value;
    var apartamentoSelect = document.getElementById('apartamento');
    var apartamentoLabel = document.getElementById('apartamento-label');
    var pessoaSelect = document.getElementById('pessoa');

    // Se o perfil não for "Síndico", busca os apartamentos
    if (perfilSolicitante !== "sindico") {
        apartamentoSelect.innerHTML = '<option value="">Selecione o Apartamento...</option>';
        apartamentoLabel.style.display = 'block';  // Exibe o campo de apartamento
        pessoaSelect.innerHTML = '';  // Limpa as opções de pessoa

        if (condominioId) {
            fetch("{% url 'get_apartamentos_por_condominio' %}?condominio_id=" + condominioId)
                .then(response => response.json())
                .then(data => {
                    data.apartamentos.forEach(function(apartamento) {
                        var option = document.createElement('option');
                        option.value = apartamento.id;
                        option.text = apartamento.nome_apartamento;
                        apartamentoSelect.appendChild(option);
                    });
                });
        }
    } else {
        // Se o perfil for "Síndico", oculta o campo de apartamento
        apartamentoSelect.innerHTML = '';  // Limpa as opções de apartamento
        apartamentoLabel.style.display = 'none';  // Oculta o campo de apartamento

        var carregarSindicosUrl = "{% url 'carregar_sindicos' 0 %}".replace("0", condominioId);
        fetch(carregarSindicosUrl)
            .then(response => response.json())
            .then(data => {
                pessoaSelect.innerHTML = '';  // Limpa as opções anteriores
                if (data.sindicos && data.sindicos.length > 0) {
                    data.sindicos.forEach(function(sindico) {
                        var option = document.createElement('option');
                        option.value = sindico.id;
                        option.text = sindico.nome_pessoa + ' (Síndico)';
                        pessoaSelect.appendChild(option);
                    });
                } else {
                    var option = document.createElement('option');
                    option.value = "";
                    option.text = "Nenhum síndico disponível";
                    pessoaSelect.appendChild(option);
                }
            });
    }
});



    // Atualiza a lista de pessoas ao escolher o apartamento
    document.getElementById('apartamento').addEventListener('change', function() {
        var apartamentoId = this.value;
        var pessoaSelect = document.getElementById('pessoa');
        pessoaSelect.innerHTML = '<option value="">Selecione a Pessoa...</option>';

        if (apartamentoId) {
            fetch("{% url 'get_pessoas_por_apartamento' %}?apartamento_id=" + apartamentoId)
                .then(response => response.json())
                .then(data => {
                    data.pessoas.forEach(function(pessoa) {
                        var option = document.createElement('option');
                        option.value = pessoa.id;
                        option.text = pessoa.nome_pessoa;
                        pessoaSelect.appendChild(option);
                    });
                });
        }
    });
</script>

{% endblock %}
