{% extends 'base_login.html' %}
{% load static %}
{% load custom_tags %}

{% block menu %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="icon-container">
                <img src="{% static 'img/icon.png' %}" alt="Logo" class="navbar img.icon-img" style="max-width: 65%; height: 65px; margin-left: 20px; margin-top: 15px;">
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav custom-nav-link">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'menu_slc' %}" style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{% static 'img/voltar.png' %}" alt="voltar" style="width: 30px; height: 30px; margin-left: 100px; filter: invert(1);">
                        <span style="margin-top: 5px; margin-left: 100px;">Retornar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br>
</nav>
{% endblock %}

{% block content %}
<br><br><br><br>

<h2 style="text-align: center;">Adicionar Controle de Acesso Síndico</h2>

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="status" value="1">

        <!-- Campos ocultos para as datas -->
        <input type="hidden" name="data_criacao" value="{{ current_datetime }}">
        <input type="hidden" name="data_modificacao" value="{{ current_datetime }}">

        <div class="row">
            <!-- Primeira coluna -->
            <div class="col-md-6">
                <label for="colaborador"><strong>Colaborador:</strong></label>
                <select id="colaborador" name="colaborador" class="form-control">
                    <option value="">Selecione um Colaborador</option>
                    {% for colaborador in colaboradores %}
                        <option value="{{ colaborador.id }}">{{ colaborador.nome_funcionario }}</option>
                    {% endfor %}
                </select>

                <label for="tipos_controles_acesso"><strong>Tipos de Controle de Acesso:</strong></label>
                <select id="tipos_controles_acesso" name="tipos_controles_acesso" class="form-control">
                    <option value="">Selecione...</option>
                    {% for tipo in tipos_controles_acesso %}
                        <option value="{{ tipo.id }}">{{ tipo.nome_tipos_controles_acesso }}</option>
                    {% endfor %}
                </select>

                <label for="perfil_solicitante"><strong>Perfil Do Solicitante:</strong></label>
                <select id="perfil_solicitante" name="perfil_solicitante" class="form-control" readonly>
                    <option value="sindico">Síndico</option>
                </select>

                <label for="condominio"><strong>Condomínio:</strong></label>
                <select id="condominio" name="condominio" class="form-control">
                    <option value="">Selecione um Condomínio</option>
                    {% for condominio in condominios %}
                        <option value="{{ condominio.id }}">{{ condominio.nome_condominio }}</option>
                    {% endfor %}
                </select>

                <label for="sindico" class="form-label">Síndico:</label>
                <select id="sindico" name="sindico" class="form-control" onchange="document.getElementById('solicitante').value = this.value;">
                    <option value="">Selecione o síndico...</option>
                    {% for sindico in sindicos %}
                        <option value="{{ sindico.id }}">
                            {{ sindico.pessoa.nome_pessoa }}
                        </option>
                    {% empty %}
                        <option value="">Nenhum síndico encontrado</option>
                    {% endfor %}
                </select>


            </div>

            <!-- Segunda coluna -->
            <div class="col-md-6">
                <label for="execucao"><strong>Execução:</strong></label>
                <select id="execucao" name="execucao" class="form-control">
                    <option value="1">Remoto</option>
                    <option value="2">Presencial</option>
                </select>

                <label for="pedido"><strong>Pedido:</strong></label>
                <select id="pedido" name="pedido" class="form-control" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option value="1">Gratuito</option>
                    <option value="2">Aguardando Pagamento</option>
                    <option value="3">Pago em dinheiro</option>
                    <option value="4">Pago por transferência</option>
                    <option value="5">Pago por Pagseguro</option>
                    <option value="6">A receber em dinheiro</option>
                    <option value="7">A receber por Pagseguro</option>
                    <option value="8">A receber por transferência</option>
                    <option value="9">Em Análise</option>
                </select>

                <label for="quantidade"><strong>Quantidade:</strong></label>
                <input type="number" id="quantidade" name="quantidade" class="form-control" min="1" />

                <label for="descricaocliente"><strong>Descrição para o Cliente:</strong></label>
                <textarea id="descricaocliente" name="descricaocliente" class="form-control"></textarea>

                <label for="descricaointerna"><strong>Descrição interna:</strong></label>
                <textarea id="descricaointerna" name="descricaointerna" class="form-control"></textarea>

                <label for="valor"><strong>Valor:</strong></label>
                <input id="valor" name="valor" type="text" class="form-control" placeholder="Digite o valor">
            </div>
        </div>

        <div class="form-group"><br>
            <button type="submit" class="btn btn-primary">Salvar Controle de Acesso</button>
        </div>
    </form>
</div>
<script>
    // inicia busca sindico por condominio
document.getElementById('condominio').addEventListener('change', function() {
    const condominioId = this.value;

    if (condominioId) {
        const url = `/controleacesso/get_sindicos_por_condominio/${condominioId}/`;
        console.log('URL da requisição:', url); // Depuração
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const sindicoSelect = document.getElementById('sindico');
                sindicoSelect.innerHTML = '<option value="">Selecione o síndico...</option>';

                data.forEach(sindico => {
                    const option = document.createElement('option');
                    option.value = sindico.id;
                    option.textContent = `${sindico.nome_pessoa} (${sindico.tipo_sindico})`;
                    sindicoSelect.appendChild(option);
                });

                if (data.length === 0) {
                    const noSindicoOption = document.createElement('option');
                    noSindicoOption.value = '';
                    noSindicoOption.textContent = 'Nenhum síndico encontrado';
                    sindicoSelect.appendChild(noSindicoOption);
                }
            })
            .catch(error => console.error('Erro ao buscar síndicos:', error));
    }
});
    // dinaliza a interacoa
</script>

{% endblock %}
