{% extends 'base_login.html' %}
{% load static %}

{% block menu %}
<!-- Código do menu permanece o mesmo -->
{% endblock %}

{% block content %}
<br>
<h2 style="text-align: center;">Adicionar Controle de Acesso Síndico</h2>

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="status" value="1">

        <div class="row">
            <!-- Primeira coluna -->
            <div class="col-md-6">
                <label for="colaborador"><strong>Colaborador:</strong></label>
                <select id="colaborador" name="colaborador" class="form-control">
                    <option value="">Selecione um Colaborador</option>
                    {% for colaborador in colaboradores %}
                        <option value="{{ colaborador.id }}">{{ colaborador.nome_funcionario }}</option>
                    {% endfor %}
                </select>

                <label for="tipos_controles_acesso"><strong>Tipos de Controle de Acesso:</strong></label>
                <select id="tipos_controles_acesso" name="tipos_controles_acesso" class="form-control">
                    <option value="">Selecione...</option>
                    {% for tipo in tipos_controles_acesso %}
                        <option value="{{ tipo.id }}">{{ tipo.nome_tipos_controles_acesso }}</option>
                    {% endfor %}
                </select>

                <label for="perfil_solicitante"><strong>Perfil Do Solicitante:</strong></label>
                <select id="perfil_solicitante" name="perfil_solicitante" class="form-control">
                    <option value="">Selecione um perfil</option>
                    <option value="sindico">Síndico</option>
                </select>

                <label for="condominio"><strong>Condomínio:</strong></label>
                <select id="condominio" name="condominio" class="form-control">
                    <option value="">Selecione um Condomínio</option>
                    {% for condominio in condominios %}
                        <option value="{{ condominio.id }}">{{ condominio.nome_condominio }}</option>
                    {% endfor %}
                </select>

                <label for="sindico" class="form-label">Sindico:</label>
                <select id="sindico" name="sindico" class="form-control">
                    <option value="">Selecione o sindico...</option>
                </select>

            </div>

            <!-- Segunda coluna -->
            <div class="col-md-6">
                <label for="execucao"><strong>Execução:</strong></label>
                <select id="execucao" name="execucao" class="form-control">
                    <option value="1">Remoto</option>
                    <option value="2">Presencial</option>
                </select>

                <label for="pedido"><strong>Pedido:</strong></label>
                <select id="pedido" name="pedido" class="form-control" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option value="1">Gratuito</option>
                    <option value="2">Aguardando Pagamento</option>
                    <option value="3">Pago em dinheiro</option>
                    <option value="4">Pago por transferência</option>
                    <option value="5">Pago por Pagseguro</option>
                    <option value="6">A receber em dinheiro</option>
                    <option value="7">A receber por Pagseguro</option>
                    <option value="8">A receber por transferência</option>
                    <option value="9">Em Análise</option>
                </select>


                <label for="quantidade"><strong>Quantidade:</strong></label>
                <input type="number" id="quantidade" name="quantidade" class="form-control" min="1" />

                <label for="descricaocliente"><strong>Descrição para o Cliente:</strong></label>
                <textarea id="descricaocliente" name="descricaocliente" class="form-control"></textarea>

                <label for="descricaointerna"><strong>Descrição interna:</strong></label>
                <textarea id="descricaointerna" name="descricaointerna" class="form-control"></textarea>

                <label for="valor"><strong>Valor:</strong></label>
                <input id="valor" name="valor" type="text" class="form-control" placeholder="Digite o valor">
            </div>
        </div>

        <div class="form-group"><br>
            <button type="submit" class="btn btn-primary">Salvar Controle de Acesso</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>

    // aqui inicia a busca por sindico

$(document).ready(function () {
    $('#condominio').change(function () {
        var condominioId = $(this).val();

        // Limpa o select de síndicos e adiciona uma opção padrão
        $('#sindico').html('<option value="">Selecione o síndico...</option>');

        // Se um condomínio for selecionado, faz a requisição
        if (condominioId) {
            $.ajax({
                url: '{% url "carregar_sindicos" %}',
                data: { 'condominio_id': condominioId },
                dataType: 'json',
                success: function (data) {
                    console.log('Dados recebidos:', data);

                    // Verifica se há síndicos no JSON retornado
                    if (data.sindicos && data.sindicos.length > 0) {
                        $.each(data.sindicos, function (index, sindico) {
                            // Concatena nome do síndico e tipo de síndico
                            var displayText = sindico.nome_pessoa + ' - ' + sindico.tipos_sindico.nome_tipos_sindico;

                            $('#sindico').append(
                                $('<option>', {
                                    value: sindico.id,
                                    text: displayText // Exibe o nome e o tipo concatenados
                                })
                            );
                        });
                    } else {
                        $('#sindico').append(
                            $('<option>', {
                                value: '',
                                text: 'Nenhum síndico encontrado',
                            })
                        );
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Erro na requisição:', status, error);
                    $('#sindico').append(
                        $('<option>', {
                            value: '',
                            text: 'Erro ao carregar síndicos',
                        })
                    );
                },
            });
        }
    });
});

// aqui finaliza


// inicia abusca dos funcionarios do condominio.
$(document).ready(function() {
    // Função para carregar funcionários do condomínio selecionado
    $('#condominio').change(function() {
        var condominioId = $(this).val();

        // Limpa o select de colaboradores
        //$('#colaborador').html('<option value="">Selecione um Colaborador</option>');

        // Se um condomínio for selecionado, faz a requisição
        if (condominioId) {
            $.ajax({
                url: '{% url "carregar_funcionarios" %}',  // Crie esta URL no urls.py
                data: {
                    'condominio_id': condominioId
                },
                dataType: 'json',
                success: function(data) {
                    // Popula o select de funcionários com os resultados
                    $.each(data, function(index, funcionario) {
                        $('#colaborador').append(
                            $('<option>', {
                                value: funcionario.id,
                                text: funcionario.nome_funcionario
                            })
                        );
                    });
                }
            });
        }
    });
});

// aqui finaliza

</script>
{% endblock %}
